<div class="search">
    <div class="results">
        <div ng-if="!vm.results || vm.results.length === 0" class="none">
            No Results
        </div>
        <div ng-repeat="game in vm.results">
            <alucard-rom-result click="vm.downloadGame(item)" item="game" />
        </div>
    </div>
    <div class="search-container">
        <div class="search-form">
            <input type="text" ng-change="vm.onTextChange()" ng-model="vm.text" placeholder="Search for a game"/>
        </div>
    </div>

</div>