<configuration>
    <system.webServer>
    
    <handlers>
        <add name="iisnode" path="app.js" verb="*" modules="iisnode" />
    </handlers>

    <!-- use URL rewriting to redirect the entire branch of the URL namespace
     to hello.js node.js application; for example, the following URLs will 
     all be handled by hello.js:
     
         http://localhost/node/express/hello/foo
         http://localhost/node/express/hello/bar
         
     -->

     <rewrite>
        <rules>
            <rule name="alucard">
                <match url="alucard/*" />
                <action type="Rewrite" url="app.js" />
            </rule>

        </rules>
     </rewrite>

     <security>
       <requestFiltering>
         <hiddenSegments>
           <add segment="node_modules" />
         </hiddenSegments>
       </requestFiltering>
     </security>

    </system.webServer>
</configuration>